@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h1 {
    font-family: "Playfair Display";
    font-size: 50px;
    margin-top: 30px;
}

* {
    
    font-family: "Poppins";
    font-weight: bold;
}

.vocal_bootcamp_title {
    text-align: center;
}


.audio-container {
    display: flex;
    grid-row: 2;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 3;
}

.notes--add {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.notes--list {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
