@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h1 {
    font-family: "Playfair Display";
    font-size: 50px;
    margin-top: 30px;
}

* {
    
    font-family: "Poppins";
    font-weight: bold;
}

.vocal_bootcamp_title {
    text-align: center;
}

.overallUser {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
}

.notes--div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}