@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h1 {
    font-family: "Playfair Display";
    font-size: 50px;
    margin-top: 30px;
}

* {
    
    font-family: "Poppins";
    font-weight: bold;
}

.overallUser {
    display: grid;
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr;
}


.vocal_bootcamp_title {
    text-align: center;
}



.audio-container {
    display: flex;
    justify-content: space-around;
    grid-row: 2;
}

.notes--add {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.notes--list {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
}
