.NotesForm {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.notes_container {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}