.NotesForm {
    display: grid;
    margin: 10px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 500px; 
}

.form_control {
    display: flex;
    width: 470px;
    height: 60px;
}



.NoteDetail {
    display: grid;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    align-content: center;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    
}

.notebtnedit {
    margin: 5px;
}

.notebtndelete {
    margin: 5px;
}

.NotesList{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    border: solid black;
    border-radius: 10px;
    align-content: space-around; 
    width: 500px; 
    overflow:auto;
    height: 200px;
    gap: 100px;
    margin: auto;
    
}