.NotesForm {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    grid-column: 2;
}

.notes_add {
    grid-column: 1;
}



.NoteDetail {
    
    margin: 30px;
    padding: 1em;
    border: solid black;
    border-radius: 10px;
    align-content: space-between;
    width: fit-content;  
    height: fit-content;
    
}

.NotesList{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    grid-auto-rows: minmax(150px, auto);
    border: solid black;
    border-radius: 10px;
    align-content: space-between; 
    width: fit-content; 
    overflow:auto;
    height: 200px;
    grid-column: 1/4;
}