.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1/4;
}

.navtitle {
    text-align: center;
    color: oldlace;
    
}

.navbar__link {
    margin: 5px;
    background-color: oldlace;
    border: 1px solid oldlace;
    border-radius: 10px;
    padding: 3px;
    color: olive;
}