.navbar {
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 15px;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: column;
    background-image: url('./camo.png');
}

.navtitle {
    text-align: center;
    color: oldlace;
    
}

.navbar__link {
    margin: 5px;
    background-color: oldlace;
    border: 1px solid oldlace;
    border-radius: 10px;
    padding: 3px;
    color: olive;
}