.container--login {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    background-color: #6EA171;
    margin-top: 100px;
    height: 500px;
    align-items: center;

}

.form--fieldset {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.form--section {
    border: solid black;
    border-radius: 10px;
    padding: 60px;
    background-color: oldlace;
    
}

.register--container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #6EA171;
    margin-top: 100px;
    height: 450px;
}

.register--section {
    border: solid black;
    border-radius: 10px;
    padding: 60px;
    background-color: oldlace;
}

.register--fieldset {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.link--register {
    margin: 5px;
    background-color: oldlace;
    border: 1px solid oldlace;
    border-radius: 10px;
    padding: 3px;
    color: olive;
}

.title_login {
    text-align: center;
}