.container--login {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #6EA171;
    margin-top: 70px;
    height: 450px;

}

.form--fieldset {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.form--section {
    border: solid black;
    border-radius: 10px;
    padding: 60px;
    background-color: oldlace;
    
}

.register--container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #6EA171;
    margin-top: 70px;
    height: 450px;
}

.register--section {
    border: solid black;
    border-radius: 10px;
    padding: 60px;
    background-color: oldlace;
}

.register--fieldset {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}